*.a
*.o
*.tar.*
*.shar.*
*~
*.patch
.bootstrap
.deps
.emacs.desktop*
.emacsrc
ABOUT-NLS
ChangeLog
INSTALL
Make.rules
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
core
gnu
lib
m4
rmt
stamp-h1
