*.a
*.o
*.tar.*
*~
.bootstrap
.deps
.emacs.desktop
.emacsrc
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
core
gnu
m4
rmt
stamp-h1
